@model NatureShot.Web.ViewModels.Videos.VideoPostUpdateModel
@{
    this.ViewData["Title"] = "Update Video";
    var locationItems = Model.LocationsDropDown.Select(x => new SelectListItem(x.Value, x.Key));
    var cameraItems = Model.CamerasDropDown.Select(x => new SelectListItem(x.Value, x.Key));
    var tagItems = Model.TagsDropDown.Select(x => new SelectListItem(x.Value, x.Key));
}

<div class="row justify-content-center no-gutters mb-5 border border-primary round">
    <div class="text-center h-100 project">
        <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center">
                <form method="post" enctype="multipart/form-data" asp-controller="Posts" asp-action="UpdateVideo">
                    <div class="text-center col-8 offset-2  offset-sm-0 col-sm-12">

                        <!--USER NAME-->
                        <h4>@this.User.Identity.Name</h4>
                        <input asp-for="VideoId" value="@Model.VideoId" hidden>

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="@Model.VideoUrl" frameborder="0" allowfullscreen></iframe>
                        </div>

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <br>



                        <!--TAGS INPUT-->
                        <label asp-for="Tags" class="text-black-50 mb-1"><u>Type some <span class="text-dark text-uppercase">#tags</span> here:</u></label>
                        <div class="input-group-lg input-group">
                            <textarea asp-for="Tags" id="tagInput" type="text" class="form-control col-12 mt-2 border border-primary rounded-left" aria-label="Text input with dropdown button" rows="1">@Model.Tags</textarea>
                            <div class="input-group-append col-12">
                                <select asp-items="tagItems" id="tagSelect" data-live-search="true" data-live-search-placeholder="Search Location" class="form-control selectpicker border border-primary rounded" multiple data-selected-text-format="count > 1" data-size="6">
                                </select>
                            </div>
                        </div>
                        <span asp-validation-for="Tags" class="text-danger"></span>
                        <br>

                        <!--CAPTION INPUT-->
                        <div class="form-group">
                            <label asp-for="Caption" class="text-black-50 mb-1"><u>Write short <span class="text-dark text-uppercase">description/caption</span> here:</u></label>
                            <textarea asp-for="Caption" type="text" class="form-control border border-primary rounded" placeholder="Very beautiful and breath taking, place i recomment you to go there!" rows="5">@Model.Caption</textarea>
                            <span asp-validation-for="Caption" class="text-danger"></span>
                        </div>

                        <br>

                        <!--LOCATION INPUT-->
                        <label asp-for="Location" class="text-black-50 mb-1"><u>Select <span class="text-dark text-uppercase">Location</span> where you took the photo:</u></label>
                        <div class="input-group-lg input-group">
                            <input asp-for="Location" id="townInput" type="text" class="form-control col-6 mt-2 border border-primary rounded-left" aria-label="Text input with dropdown button" value="@Model.Location">
                            <input asp-for="Country" id="countryInput" type="text" class="form-control col-6 mt-2 border border-primary rounded-right" aria-label="Text input with dropdown button" value="@Model.Country">
                        </div>
                        <div class="border border-primary rounded">
                            <select asp-items="locationItems" id="locationDropDown" data-live-search="true" data-live-search-placeholder="Search Location" class="form-control selectpicker" data-size="6">
                            </select>
                        </div>
                        <span asp-validation-for="Location" class="text-danger"></span>
                        <br>
                        <span asp-validation-for="Country" class="text-danger"></span>

                        <br>
                        <br>

                        <!--CAMERA INPUT-->
                        <label asp-for="Camera" class="text-black-50 mb-1"><u>Select the <span class="text-dark text-uppercase">Camera</span> which took the photo:</u></label>
                        <div class="input-group-lg input-group">
                            <input asp-for="Camera" id="cameraInput" type="text" class="form-control col-md-6 col-12 mt-2 border border-primary rounded-left" aria-label="Text input with dropdown button" value="@Model.Camera">
                            <div class="input-group-append col-md-6 col-12">
                                <select asp-items="cameraItems" id="cameraSelect" data-live-search="true" data-live-search-placeholder="Search Location" class="form-control selectpicker border border-primary rounded" data-size="6">
                                </select>
                            </div>
                        </div>
                        <span asp-validation-for="Camera" class="text-danger"></span>

                    </div>
                    <div class="text-center">
                        <button type="submit" value="UpdateVideo" class="btn btn-outline-primary mt-4 border border-primary rounded" name="uploadbutton">Update Video</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/SelectFields.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
}
