@model List<NatureShot.Web.ViewModels.NormalPosts.NormalPostViewModel>
<!--Search-->
<div class="input-group input-group-lg md-form form-sm form-1 pl-0 mb-5 border-primary">
    <div class="input-group-prepend">
        <span class="input-group-text bg-primary border-primary" id="basic-text1">
            <a href="">
                <i class="fas fa-search text-white"
                   aria-hidden="true"></i>
            </a>
        </span>
    </div>
    <button class="btnSmaller bg-primary text-white dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search By</button>
    <div class="dropdown-menu">
        <a class="dropdown-item active" href="#">Name</a>
        <a class="dropdown-item" href="#">Tags</a>
        <a class="dropdown-item" href="#">Caption</a>
    </div>
    <input class="form-control p-4 input-lg my-0 py-1 searchBorder" type="text" placeholder="Search . . ." aria-label="Search">
</div>

<!--FILTER ORDER BY-->
<div class="offset-md-9 offset-6 offset-lg-10 mb-5 mr-0">
    <button class="btn bg-primary text-white dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Order by</button>
    <div class="dropdown-menu">
        <a class="dropdown-item active" href="#">Date (Newest)</a>
        <a class="dropdown-item" href="#">Date (Oldest)</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Likes (Most)</a>
        <a class="dropdown-item" href="#">Likes (Least)</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Dislikes (Most)</a>
        <a class="dropdown-item" href="#">Dislikes (Least)</a>
    </div>
</div>

@foreach (var post in Model)
{
    <div class="row justify-content-center no-gutters mb-5">
        <div class="text-center h-100 project border border-primary rounded-pill">
            <div class="d-flex h-100 border border-primary rounded-pill">
                <div class="project-text w-100 my-auto text-center border border-primary rounded-pill">
                    <h4 class="text-black mb-4"><span class="border-primary border-bottom">@post.Username</span></h4>
                    <br>
                    <p class="text-black mb-0"><span class="border-bottom border-primary">@post.Tags</span></p>
                    <br>
                    <p class="mb-0 text-black">@post.Caption</p>
                    <br>
                    <div class="row">
                        <p class="col-3"></p>
                        <p class="text-black mb-0 col-3"><span class="border-primary border-bottom">Likes: <span class="text-black"> @post.Likes</span></span></p>
                        <p class="text-black mb-0 col-3"><span class="border-primary border-bottom">Dislikes: <span class="text-black"> @post.Dislikes</span></span></p>
                        <p class="col-3"></p>
                    </div>
                    <br>
                    <form method="post">
                        <button class="btn btn-outline-primary border-primary border mr-3 mb-3 mb-l-0">
                            <i class="fas fa-thumbs-up"></i> Like
                        </button>
                        <button class="btn btn-outline-primary border-primary border mb-3 mb-l-0">
                            <i class="fas fa-thumbs-down"></i> Dislike
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<div id="normalPostsDiv">

</div>

<div class="offset-md-5 offset-4">
    <button class="btn btn-primary loadMore" value="1">Load More</button>
</div>

@section Scripts{
    <script src="~/js/LoadMoreNormalPosts.js"></script>
}
